*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
  background-color: #28282B;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}  

header{
  background-color: #000000;
  color: white;
  height: 60px;
}

nav{
  width: 60vw;
  height: 100%;
  margin: 0 auto;

}

nav > ul{
  display: flex;
  list-style: none;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

nav > ul > li{
  width: 100%;
  height: 100%;
}

nav > ul > li > a{
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 60px;
  text-decoration: none;
  color: white;
}
.active{
  background:red;
}

.Tital{
  margin-top: 5%;
  font-size: 50px;
  margin-left: 10%;
  height: 100px;
  width: 40%;
  display: flex;
  justify-content: center;
}
img{
  
  float: right;
  border: 1px dotted black;
  margin-right: 15%; 
  
}
.AboutMe{
  font-size: 30px;
  margin: 1px;
  margin-left: 10%;
  height: 250px;
  width: 40%;
  text-align: center;
}
.Tital2{
  margin-top: 3%;
  font-size: 50px;
  margin-left: 10%;
  height: 100px;
  width: 80%;
  display: flex;
  justify-content: center;
}
.pro{
  font-size: 30px;
  margin: 1px;
  margin-left: 10%;
  height: 150px;
  width: 80%;
  text-align: center;
}
.contact{
  float: right;
  width: 30%;
  height: 200px;
  font-size: 50px;
}
.contact2{
  float: right;
  width: 30%;
  height: 200px;
  font-size: 50px;
  
}
.CV{
  float: left;
  width: 700px;
  height: 300;
  margin: 10px;
  margin-left: 50px;
}

.clickable{
  margin-left: 100px;
  font-size: 10px;
}
.container-Skills{
  float: right;
  font-size: 40px;
  margin-right: 25%; 
  margin-bottom: 130px;
}
.github {
  width: 80%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  background-color: rgb(223, 192, 21);
  text-align: center;
  margin-left: 10%;
  margin-top: 3%;
  
}

.linkToGit {
  color: rgb(255, 255, 255);
  margin: 0;
  font-size: 40px;
  text-decoration: none;
}

.linkToGit:hover {
  text-decoration: underline;
}
@media screen and (max-width: 1600px) {
.Tital{
  font-size: 40px;
  margin-left: 8%;
}
img{
  
  float: right;
  border: 1px dotted black;
  margin-right: 9%; 
  
}
.AboutMe{
  font-size: 25px;
  margin-left: 9%;
}
.Tital2{
  margin-top: 3%;
  font-size: 50px;
  margin-left: 10%;
  height: 100px;
  width: 80%;
}
.pro{
  font-size: 30px;
  margin: 1px;
  margin-left: 10%;
  height: 150px;
  width: 80%;
}
.contact{
  float: right;
  width: 30%;
  height: 200px;
  font-size: 50px;
}
.contact2{
  float: right;
  width: 30%;
  height: 200px;
  font-size: 50px;
  
}
.CV{
  float: left;
  width: 700px;
  height: 300;
  margin: 10px;
  margin-left: 50px;
}

.clickable{
  margin-left: 100px;
  font-size: 10px;
}
.container-Skills{
  float: right;
  font-size: 40px;
  margin-right: 25%; 
  margin-bottom: 130px;
}
.github {
  width: 80%;
  height: 75px;
  margin: 10px auto;
  margin-left: 10%;
  margin-top: 3%;
  
}

.linkToGit {
  margin: 0;
  font-size: 40px;
}
}
@media screen and (max-width: 800px) {
  .Tital{
    font-size: 40px;
    margin-left: 4%;
    height: 50px;
  }
  img{
    height: auto;
    width: 350px;
    float: right;
    border: 1px dotted black;
    margin-right: 4%; 
    
  }
  .AboutMe{
    height: 200px;
    font-size: 18px;
    margin-left: 4%;
  }
  .Tital2{
    margin-top: 3%;
    font-size: 50px;
    margin-left: 10%;
    height: 100px;
    width: 80%;
  }
  .pro{
    font-size: 20px;
    margin: 1px;
    margin-left: 10%;
    height: 150px;
    width: 80%;
  }
  .github {
    width: 80%;
    height: 75px;
    margin: 10px auto;
    margin-left: 10%;
    margin-top: 5%;
    
  }
  
  .linkToGit {
    margin: 0;
    font-size: 40px;
  }
}
@media screen and (max-width: 480px) {
      .Tital{
        font-size: 40px;
        height: 50px;
        width: 100%;
      }
      img{
        height: auto;
        width: 90%;
        margin-left: 10%;
      }
      .AboutMe{
        height: 100px;
        font-size: 15px;
        width: 90%;
        margin: 5%;
      }
      .Tital2{
        margin-top: 3%;
        font-size: 30px;
        margin-left: 10%;
        height: 60px;
        width: 80%;
      }
      .pro{
        font-size: 20px;
        margin: 1px;
        margin-left: 10%;
        height: 150px;
        width: 80%;
      }
      .github {
        width: 80%;
        height: 75px;
        margin: 10px auto;
        margin-left: 10%;
        margin-top: 15%;
        
      }
      
      .linkToGit {
        margin: 0;
        font-size: 40px;
      }
    }
