*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
  background-color: #28282B;
  color: white;
}    

header{
  background-color: #000000;
  color: white;
  height: 60px;
}
nav{
    width: 60vw;
    height: 100%;
    margin: 0 auto;
  
  }
  
  nav > ul{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
  }
  
  nav > ul > li{
    width: 100%;
    height: 100%;
  }
  
  nav > ul > li > a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    color: white;
  }
  .title{
    margin-left: 42%;
    margin-top: 30px;
    font-size: 50px;
  }
  .title2{
    margin-left: 45%;
    margin-top: 30px;
    font-size: 50px;
  }
  .title3{
    margin-left: 48%;
    margin-top: 30px;
    font-size: 50px;
  }

  .ContainerVideo{
    display: block;
    margin: 10px auto;
    width: 700px;
    height: 400px;
  }
  .github {
    width: 250px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    background-color: rgb(223, 192, 21);
    text-align: center;
  }
  
  .linkToGit {
    color: black;
    margin: 0;
    font-size: 40px;
    text-decoration: none;
  }
  
  .linkToGit:hover {
    text-decoration: underline; /* Add this line to remove the underline on hover */
  }
  .whatitabout{
    margin-left: 22%;
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 20px;
    
  }
  .whatitabouttext{
    width: 600px;
    height: 400px;
    margin-left: 15%;
    font-size: 30px;
    text-align: center;
  }
  .img1{
    float: right;
    width: 600px;
    height: 400px;
    margin-right: 20%;
    margin-top: 20px;
    border-radius: 20px;
  }
  .container {
    float: right;
    width: 600px;
    height: 400px;
    margin-right: 20%;
    margin-top: 20px;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
}
  .learned{
    margin-right: 75px;
    font-size: 50px;
    margin-bottom: 20px;
  }
  .learned1{
    font-size: 30px;}
  
  .fixcontainer{
      width: 600px;
      height: 400px;
      justify-content: center;
      text-align: center;
      padding: 20px;
      float: left;
      margin-left: 8%;
  }
  .Whattofix{
    margin-left: 22%;
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .fix{
    width: 600px;
    height: 400px;
    margin-left: 15%;
    font-size: 30px;
  }
  
  @media (max-width: 1024px) {
    .wrap,
    header nav,
    footer nav {
      width: 95%;
  
    }
    .whatitabout{
      margin-left: 18%;
      font-size: 50px;
      margin-bottom: 30px;
      margin-top: 20px;
    }
    .whatitabouttext{
      width: 600px;
      height: 400px;
      margin-left: 10%;
      
    }
    .img1{
      width: 600px;
      height: 400px;
      margin-right: 10%;
      margin-top: 20px;
    }
    .container {
      width: 600px;
      height: 500px;
      padding: 20px;
      margin-right: 10%;
  }
    .learned{
      font-size: 50px;
      margin-bottom: 20px;
      margin-right: 15%;
    }
    .learned1{
      font-size: 30px;
    }
    .github{
      width: 100px;
      height: 100px;
      margin: 10px;
    }
  }
