*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
  background-color: #28282B;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}    

header{
  background-color: #000000;
  color: white;
  height: 60px;
}

nav{
    width: 60vw;
    height: 100%;
    margin: 0 auto;
  
  }
  
  nav > ul{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
  }
  
  nav > ul > li{
    width: 100%;
    height: 100%;
  }
  
  nav > ul > li > a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    color: white;
  }
  .title{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    font-size: 40px;
  }
  .ContainerVideo{
    display: block;
    margin: 10px auto;
    margin-bottom: 1%;
    width: 800px;
    height: 500px;
  }
  .github {
    width: 250px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    background-color: rgb(223, 192, 21);
    text-align: center;
  }
  
  .linkToGit {
    color: rgb(255, 255, 255);
    margin: 0;
    font-size: 40px;
    text-decoration: none;
  }
  
  .linkToGit:hover {
    text-decoration: underline; /* Add this line to remove the underline on hover */
  }
  .whatitabout{
    margin-left: 10%;
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 20px;
    display: flex;
  justify-content: center;
    
  }
  .whatitabouttext{
    width: 600px;
    height: 350px;
    margin-left: 15%;
    font-size: 30px;
    text-align: center;
  }
  .img1{
    float: right;
    width: 600px;
    height: 400px;
    margin-right: 20%;
    margin-top: 20px;
    border-radius: 20px;
  }
 
  pre {
    width: 800px;
    height: 600px;
    background-color: #1E1E1E;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 20px;
    overflow-y: scroll;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;
    margin-left: 30%;
    border-radius: 20px;
}
 
  .container {
    float: right;
    width: 600px;
    height: 400px;
    margin-right: 20%;
    margin-top: 20px;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
}
.container3 {
  float: right;
    width: 600px;
    height: 400px;
    margin-right: 10%;
    margin-top: 20px;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
}
  .learned{
    font-size: 50px;
    margin-bottom: 20px;
  }
  .learned1{
    font-size: 30px;
  }
  
  .learned2{
      font-size: 35px;
      margin: 25px;
    }
  
  .fixcontainer{
      width: 600px;
      height: 400px;
      justify-content: center;
      text-align: center;
      padding: 20px;
      float: left;
      margin-left: 10%;
  }
  .container2{
    width: 1800px;
    height: 1600px;
  }
  .fixcontainer2{
    width: 600px;
    height: 400px;
    float: left;
}
  .Whattofix{
    margin-left: 22%;
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .fix{
    width: 600px;
    height: 400px;
    margin-left: 15%;
    font-size: 30px;
  }
  
  @media screen and (max-width: 1600px) {
    .title{
      width: 100%;
      font-size: 50px;
    }
    pre {
      width: 600px;
      height: 400px;
      background-color: #1E1E1E;
      color: #FFFFFF;
      padding: 20px;
      border-radius: 20px;
      overflow-y: scroll;
      font-family: 'Courier New', Courier, monospace;
      font-size: 14px;
      line-height: 1.6;
      margin-left: auto;
      margin-right: auto;
      margin-left: 13%;
      border-radius: 20px;
  }
    .github {
      width: 250px;
      height: 75px;
      margin: 5px auto;
    }
    
    .linkToGit {
      margin: 0;
      font-size: 40px;
    }
    .whatitabout{
      margin-left: 8%;
      font-size: 50px;
      margin-bottom: 30px;
      margin-top: 20px;
      
    }
    .whatitabouttext{
      width: 500px;
      height: 450px;
      margin-left: 12%;
      font-size: 30px;
    }
    .img1{
      width: 600px;
      height: 400px;
      margin-right: 8%;
      margin-top: 20px;
      border-radius: 20px;
    }
    .img2{
      width: 600px;
      height: 400px;
      margin-left: 12%;
      border-radius: 20px;
    }
    .img3{
      width: 1300px;
      height: 600px;
      margin-left: 12%;
    }
    .container, .container3 {
      width: 600px;
      height: 400px;
      margin-right: 8%;
      margin-top: 20px;
  }
  
    .learned{
      font-size: 50px;
      margin-bottom: 20px;
    }
    .learned1{
      font-size: 30px;
    }
    
    .learned2{
        font-size: 29px;
        margin: 25px;
      }
    
    .fixcontainer{
        width: 600px;
        height: 400px;
        padding: 20px;
        margin-left: 4%;
    }
    .ContainerVideo{
      width: 800px;
      height: 500px;
      margin-bottom: 2%;
    }
    .container2{
      width: 100%;
      height: 1600px;
    }
    .fixcontainer2{
      width: 600px;
      height: 400px;
      float: left;
  }
    .Whattofix{
      margin-left: 22%;
      font-size: 50px;
      margin-bottom: 30px;
      margin-top: 20px;
    }
    .fix{
      width: 600px;
      height: 400px;
      margin-left: 10%;
      font-size: 30px;
    }
  }
  @media screen and (max-width: 800px) {
    body{
      background-color: blue;
    }
  }
  @media screen and (max-width: 480px) {
      body{
        background-color: red;
      }
  }
