*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
  background-color: #28282B;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}    

header{
  background-color: #000000;
  color: white;
  height: 60px;
}
nav{
    width: 60vw;
    height: 100%;
    margin: 0 auto;
  
  }
  
  nav > ul{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
  }
  
  nav > ul > li{
    width: 100%;
    height: 100%;
  }
  
  nav > ul > li > a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    color: white;
  }
  .title{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 50px;
  }
  .title2{
    margin-left: 45%;
    margin-top: 30px;
    font-size: 50px;
  }
  .title3{
    margin-left: 48%;
    margin-top: 30px;
    font-size: 50px;
  }

  .ContainerVideo{
    display: block;
    margin: 10px auto;
    width: 800px;
    height: 500px;
  }
  .github {
    width: 250px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    background-color: rgb(223, 192, 21);
    text-align: center;
  }
  
  .linkToGit {
    color: black;
    margin: 0;
    font-size: 40px;
    text-decoration: none;
  }
  
  .linkToGit:hover {
    text-decoration: underline; /* Add this line to remove the underline on hover */
  }
  .whatitabout{
    margin-left: 10%;
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 20px;
    display: flex;
  justify-content: center;
    
  }
  .whatitabouttext{
    width: 600px;
    height: 350px;
    margin-left: 15%;
    font-size: 30px;
    text-align: center;
  }
  .img1{
    float: right;
    width: 600px;
    height: 400px;
    margin-right: 20%;
    margin-top: 20px;
    border-radius: 20px;
  }
  .img2{
    width: 600px;
    height: 400px;
    margin-left: 20%;
    border-radius: 20px;
  }
  .img3{
    width: 1300px;
    height: 600px;
    margin-left: 20%;
  }
  .container {
    float: right;
    width: 600px;
    height: 400px;
    margin-right: 20%;
    margin-top: 20px;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
}
  .learned{
    font-size: 50px;
    margin-bottom: 20px;
  }
  .learned1{
    font-size: 30px;
  }
  
  .learned2{
      font-size: 30px;
      margin: 25px;
    }
  
  .fixcontainer{
      width: 600px;
      height: 400px;
      justify-content: center;
      text-align: center;
      padding: 20px;
      float: left;
      margin-left: 10%;
  }
  .container2{
    width: 1800px;
    height: 2000px;
  }
  .fixcontainer2{
    width: 600px;
    height: 400px;
    float: left;
}
  .Whattofix{
    margin-left: 22%;
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .fix{
    width: 600px;
    height: 400px;
    margin-left: 15%;
    font-size: 30px;
  }
  
  @media screen and (max-width: 1600) {
  
  }
  @media screen and (max-width: 800px) {
    body{
      background-color: blue;
    }
  }
  @media screen and (max-width: 480px) {
      body{
        background-color: red;
      }
  }
